.brand { 
    font-family: 'Lilita One', sans-serif !important; 
    font-size: 25px !important;
    font-weight: 700 !important;
    color: $primary-color-2 !important;
    text-decoration: none !important;
}

* { font-family: 'Roboto', sans-serif; }